@use "sass:color";

// Variables
// ----------------------------------------------------------
$color-window: #000000; 
$color-bg: #1D1D1B; 
$color-bg-lighter: #282826;
$color-bg-overlay: rgba(29, 29, 27, .85);
$color-outline: #136DEB;
$color-text-light: #E1E0D3;
$color-text-medium: #9D9D9C;
$color-border: #9D9D9C;
$color-error: rgb(244, 37, 14);

// Fonts
// ----------------------------------------------------------
@font-face {
  font-family: RobotoMono;
  src: url(../../static/fonts/RobotoMono-Variable.ttf);
  font-weight: 100 700;
}

// Global
// ----------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 2px solid $color-outline;
  outline-offset: 2px;
}

html,
body
{
  background: $color-window;
  color: $color-text-light;
  font-family: RobotoMono, monospace;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  // justify-content: center;
}

// Generator
// ----------------------------------------------------------
#generator {
  display: flex;
  flex-direction: row;
  height: 100%;
  // max-height: 1920px;
  position: relative;
  // min-width: min-content;
  min-width: 320px;
  // max-width: 2560px;
  width: 100%;
  // min-width: 1366px;
}

// Canvas
// ----------------------------------------------------------
.canvas {
  padding: 30px;
  background: color.adjust($color-bg, $lightness: -2%);
  // max-height: 100vh;
  // max-height: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  // min-width: 766px; 

  canvas.webgl {
    top: 0;
    left: 0;
    outline: none;
    // width: 1080px;
    // height: 1080px;
    border: 1px solid $color-bg-lighter;
    // transition: transform 0.1s ease-in-out;
  }
}

// Controls
// ----------------------------------------------------------
.controls {
  // padding: 30px 20px 15px;
  // padding: 15px 0 15px;
  // max-width: 600px;
  // min-width: 600px;
  width: 100%;
  flex-grow: 1;
  // background: $color-bg;
  display: flex;
  flex-direction: column;
  // height: 100%;
  height: min-content;
  // min-height: 100vh;
  height: 100vh;
  // max-height: 1920px;
  // max-height: 1440px;
  // border-left: 1px solid $color-bg-lighter;

  .controls-header {
    // padding: 15px 10px 25px;
    padding: 30px 20px 0;
    margin: 0 0px;
    // border-bottom: 1px solid color.adjust($color-border, $lightness: -25%);
    // width: 100%;
    background: $color-bg;

    .controls-header-inner {
      align-items: center;
      display: flex;
      position: relative;
      overflow: visible;
      padding: 0 20px;
    }

    h1 {
      font-weight: 400;
      flex: 1 1 0;
      font-size: 20px;
    }

    #controls-toggle {
      // padding: 0 15px;
      // padding-right: 10px;
      gap: 0 5px;
      height: 40px;
      display: flex;
      align-items: center;
      border: 1px solid color.adjust($color-border, $lightness: -25%);
      background-color: $color-bg;
      border-radius: 4px;
      font-size: 14px;
      position: absolute;
      right: 20px;

      .controls-toggle-img {
        width: 40px;
        height: 40px;
        background-image: url('../../static/images/icons.png');
        background-position: -130px -130px;
      }

      &.hide {
        .controls-toggle-img {
          background-position: -130px -190px;
        }
      }

      label {
        display: none;
      }

      &:hover,
      &:focus {
        cursor: pointer;
        background: $color-bg-lighter;
      }

      &:active {
        background: color.adjust($color-bg-lighter, $lightness: 2%);
      }
    }

    .border {
      margin-top: 25px;
    }
  }

  .controls-inner {
    background: $color-bg;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // padding: 0 10px;
    padding: 0;
    overflow: auto;

    &.hidden {
      display: none;
    }
  }

  .logo {
    font-size: 30px;
    text-transform: lowercase;
    text-align: center;
    width: 100%;
    // margin: 20px 0 0;
    background: $color-bg;
    // margin: 0;
    margin-top: auto;
    padding: 0 20px 15px;

    .border {
      margin-bottom: 20px;
    }
  }

  .border {
    height: 1px;
    width: 100%;
    display: block;
    background: color.adjust($color-border, $lightness: -25%);
  }
}

// Inputs
// ----------------------------------------------------------
#inputs {
  // margin: 30px 0 0;
  // margin: 25px 0 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  // padding: 5px 30px 25px;
  padding: 0px 30px 25px;

  .inputs-top {
    flex-grow: 1;
  }

  .inputs-bottom {
    margin-top: auto;
  }
}

.input-group,
.input-multi-group {
  display: flex;
  margin: 0 0 40px;
  flex-direction: column;

  &:last-of-type {
    margin-bottom: 0;
  }

  &.inputs-bottom {
    margin-bottom: 10px;
  }

  &.buttons {
    flex-direction: row;
    gap: 0 20px;
    margin-bottom: 0;
  }

  .button-options {
    gap: 0 10px;
  } 

  label {
    color: $color-text-medium;
    margin-top: 10px;
    display: block;

    &.input-group-label {
      margin: 0 0 25px;
      border-top: 1px dashed color.adjust($color-border, $lightness: -15%);
      padding-top: 30px;
      // color: $color-text-light;
      // font-size: 18px;
      // text-transform: uppercase;
    }
  }

  &#input-scene label.input-group-label {
    border-top: none;
  }
}

.pattern-mode {
  display: none;

  .mode-pattern & {
    display: flex;
  }
}

.image-mode {
  display: none;

  .mode-image & {
    display: flex;
  }
}

.text-mode {
  display: none;

  .mode-text & {
    display: flex;
  }
}

// #input-keyframe,
.animation-save {
  display: none;

  .save-animation & {
    display: flex;
  }
}

.custom-size {
  display: none;

  .size-custom & {
    display: flex;
  }
}

.still-save {
  display: none;

  .save-still & {
    display: flex;
  }
}

#input-export-scale {
  .size-custom & {
    display: none;
  }
}

// Inputs - Mode
// ----------------------------------------------------------
.button-options {
  display: flex;
  align-items: center;
  gap: 0 20px;

  .button-option {
    display: flex;
    flex: 1 1 0;
    border-radius: 4px;
    border: 1px solid $color-bg-lighter;
    height: 60px;
    background: $color-bg-lighter;
    // gap: 0 5px;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    .input-multi-tab & {
      border: 1px dashed color.adjust($color-border, $lightness: -25%);
      border-bottom: none;
      border-radius: 4px 4px 0 0;
      background: transparent;
      z-index: 0;
      transition: background-color 0.1s ease-in-out;

      label {
        color: $color-text-medium;
        transition: color 0.1s ease-in-out;
      }

      .option-img {
        opacity: 0.75;
        transition: opacity 0.1s ease-in-out;
      }
    }

    &.selected,
    &.selected:hover,
    &.selected:focus {
      border: 1px solid $color-border;
      background: $color-bg-lighter;

      .input-multi-tab & {
        border-bottom: none;
        background: $color-bg-lighter;
        border-bottom: 1px dashed color.adjust($color-border, $lightness: -25%);
        // border-bottom: 1px solid color.adjust($color-border, $lightness: -30%);
        z-index: 2;

        label {
          color: $color-text-light;
        }

        .option-img {
          opacity: 1;
        }
      }
    }

    &:hover,
    &:focus {
      border: 1px solid color.adjust($color-bg-lighter, $lightness: 15%);
      // background: color.adjust($color-bg-lighter, $lightness: 2%);

      .input-multi-tab & {
        background: color.adjust($color-bg, $lightness: 1%);
        border-bottom: 1px solid $color-border;
        z-index: 0;

        label {
          color: $color-text-light;
        }

        .option-img {
          opacity: 1;
        }
      }
    }


    &.loop-option,
    &.scale-option,
    &.size-option {
      background: transparent;
      border-color: color.adjust($color-bg-lighter, $lightness: 15%);
      // border-color: transparent;

      &.selected,
      &.selected:hover,
      &.selected:focus {
        border: 1px solid $color-border;
        background: $color-bg-lighter;
      }

      &:hover,
      &:focus {
        border: 1px solid color.adjust($color-bg-lighter, $lightness: 15%);
        background: color.adjust($color-bg, $lightness: 2%);
      }

      .option-img {
        display: none;
      }

      .button-option-radio {
        margin: 0 15px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $color-text-medium;
        border: 3px solid $color-border;
        position: relative;
      }

      &.selected {
        .button-option-radio {
          background: $color-outline;
          border: 3px solid $color-border;
        }
      }
    }

    // &:active {
    //   // background: color.adjust($color-bg-lighter, $lightness: 3%);
    // }

    .option-img {
      width: 60px;
      height: 100%;
      // background-size: 75%;
      // background-position: 50% 50%;
      background-repeat: no-repeat;
      background-image: url('../../static/images/icons.png');
    }

    label {
      color: $color-text-light;
      margin-top: 0;
      cursor: pointer;

      span {
        font-size: 14px;
        color: $color-text-medium;
      }
    }

    &[data-mode='pattern'] .option-img {
      // background-image: url('../../static/images/mode_pattern.png');
      background-position: 0 0;
    }
    &[data-mode='image'] .option-img {
      // background-image: url('../../static/images/mode_image.png');
      background-position: -60px 0;
    }
    &[data-mode='text'] .option-img {
      // background-image: url('../../static/images/mode_text.png');
      background-position: -120px 0;
    }
    &[data-size='square'] .option-img {
      // background-image: url('../../static/images/size_square.png');
      background-position: 0 -60px;
    }
    &[data-size='portrait'] .option-img {
      // background-image: url('../../static/images/size_portrait.png');
      background-position: -60px -60px;
    }
    &[data-size='custom'] .option-img {
      // background-image: url('../../static/images/size_portrait.png');
      background-position: -120px -60px;
    }
    &[data-keyframe='a'] .option-img {
      // background-image: url('../../static/images/size_portrait.png');
      background-position: 0 -120px;
    }
    &[data-keyframe='b'] .option-img {
      // background-image: url('../../static/images/size_portrait.png');
      background-position: -60px -120px;
    }
    &[data-save='still'] .option-img {
      // background-image: url('../../static/images/size_portrait.png');
      background-position: -60px -180px;
    }
    &[data-save='animation'] .option-img {
      // background-image: url('../../static/images/size_portrait.png');
      background-position: 0 -180px;
    }
  }
}

.input-multi-group-container {
  // padding: 20px;
  // padding: 0;
  // border-radius: 4px;
  // border: 1px dashed color.adjust($color-border, $lightness: -25%);

  .input-multi-group-inner {
    padding: 25px 20px;
    // border: 1px dashed color.adjust($color-border, $lightness: -25%);
    border: 1px solid $color-border;
    // border-radius: 4px;
    border-radius: 0 0 4px 4px;
    position: relative;
    z-index: 1;
  }

  &.input-controls .input-multi-group-inner {
    // border-radius: 4px;

    // .save-animation & {
    //   border-radius: 0 0 4px 4px;
    // }
  }

  .input-multi-tab {
    margin-bottom: -1px;

    > label {
      display: none;
    }
  }
}

#input-export {
  margin-bottom: 20px;
  // margin-bottom: 30px;

  .button-option {
    // border: none;
    // padding: 0 20px;

    .option-img {
      // display: none;
    }
  }
}

#input-buttons-controls,
#input-buttons-export {
  display: flex;
  flex-direction: row;
  gap: 0 20px;
}

#input-buttons-controls {
  margin: -40px 0 0;
}


#input-export-scale {
  .button-options {
    // gap: 0 10px;
  }

  & > label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    span {
      text-align: right;
      font-size: 14px;
    }
  }
}

input[type='text'],
input[type='number'] {
  padding: 0 15px;
  height: 55px;
  // width: 50%;
  flex-grow: 1;
  border-radius: 4px;
  background: $color-bg-lighter;
  background: $color-bg;
  border: 1px solid $color-border;
  color: $color-text-light;
  font-family: RobotoMono, monospace;
  font-size: 16px;
  // order: 1;

  &.error {
    border-color: $color-error;
  }
}

#input-loop-duration {
  // margin-bottom: 40px;
  // display: flex;
  flex-direction: column;
  gap: 0 20px;
  // align-items: center;

  label {
    // margin: 0;
    order: 2;
  }
}


// // Inputs - Size
// // ----------------------------------------------------------
// .size-blocks {
//   display: flex;
//   align-items: center;
//   gap: 0 20px;

//   .size-block {
//     display: flex;
//     flex: 1 1 0;
//     border-radius: 4px;
//     border: 1px solid $color-bg-lighter;
//     height: 60px;
//     background: $color-bg-lighter;
//     gap: 0 5px;
//     // padding-right: 20px;
//     align-items: center;
//     overflow: hidden;
//     cursor: pointer;

//     &.selected,
//     &.selected:hover,
//     &.selected:focus {
//       border: 1px solid $color-border;
//     }

//     &:hover,
//     &:focus {
//       border: 1px solid color.adjust($color-bg-lighter, $lightness: 15%);
//       // background: color.adjust($color-bg-lighter, $lightness: 2%);
//     }

//     .size-block-img {
//       width: 60px;
//       height: 100%;
//       // background-size: 75%;
//       // background-position: 50% 50%;
//       background-repeat: no-repeat;
//       background-image: url('../../static/images/icons.png');
//     }

//     label {
//       color: $color-text-light;
//       margin-top: 0;
//       cursor: pointer;

//       span {
//         font-size: 14px;
//         color: $color-text-medium;
//       }
//     }

//     &[data-size='square'] .size-block-img {
//       // background-image: url('../../static/images/size_square.png');
//       background-position: 0 -60px;
//     }
//     &[data-size='portrait'] .size-block-img {
//       // background-image: url('../../static/images/size_portrait.png');
//       background-position: -60px -60px;
//     }
//   }
// }
.input-custom-size-container {
  margin: 10px 0 0;
  // display: flex;
  padding: 10px;
  border: 1px dashed color.adjust($color-border, $lightness: -25%);
  background-color: $color-bg-lighter;
  border-radius: 4px;
  flex-direction: column;

  .input-custom-size-container-inner {
    gap: 0 10px;
    align-items: center;
    display: flex;
    width: 100%;
  }

  &.error span.error {
    display: block;
  }

  span.error {
    color: $color-error;
    font-size: 14px;
    margin-top: 10px;
    display: none;
  }

  label {
    margin: 0;

    &:nth-of-type(1) {
      order: 2;
    }

    &:nth-of-type(2) {
      order: 4;
    }
  }

  .input.button {
    order: 4;
    flex: 1 1 0;
    margin-left: 20px;
  }

  input {
    flex: 1 1 0;
    width: 100%;
    height: 45px;

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }
  }
}


// Inputs - Color
// ----------------------------------------------------------
.button-colors {
  display: flex;
  gap: 0 15px;
  align-items: center;

  .button-color {
    flex: 1 1 0;
    /* width: 150px; */
    max-width: 33.3333%;
    width: 75px;
    // height: 75px;
    height: 65px;
    background: $color-bg;
    // border: 1px solid color.adjust($color-border, $lightness: -25%);
    border: 1px solid $color-border;
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
    padding: 2px;

    // #color-text & {
    //   border-color: color.adjust($color-border, $lightness: -25%);
    // }

    &.selected {
      // border: 1px solid $color-border;
      outline: 1px solid $color-border;
      outline-offset: 2px;
    }

    &:focus {
      outline-color: $color-outline;
      outline-width: 2px;
    }
  
    // &:hover {
    //   // outline: 2px solid #9D9D9C;
    // }

    // .color-block-inner {
    //   width: 50%;
    //   height: 100%;
    //   margin-left: auto;
    //   background: $color-bg;
    //   border-radius: 0 2px 2px 0;
    // }
  }

  // .color-block-divide {
  //   display: block;
  //   width: 1px;
  //   height: 25px;
  //   background: $color-border;
  //   visibility: hidden;
  // }
}


// Inputs - Text
// ----------------------------------------------------------
textarea {
  padding: 15px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  border-radius: 4px;
  border: 1px solid $color-border;
  background: $color-bg;
  color: $color-text-light;
  font-family: RobotoMono, monospace;
  font-size: 20px;
  cursor: text;
  // text-align: center;
  text-transform: uppercase;
}


// Inputs - Image
// ----------------------------------------------------------
#image-drop-zone {
  border: 1px solid $color-border;
  width: 100%;
  border-radius: 4px;
  height: 200px;
  overflow: hidden;
  padding: 0px;

  &:hover,
  &:focus {
    cursor: pointer;
    
    .image-drop-zone-bg {
      background: color.adjust($color-bg-overlay, $lightness: 2%);
    }
  }

  p {
    text-transform: uppercase;
    font-size: 20px;
    z-index: 99;
    overflow: hidden;
    text-align: center;
  }

  .image-drop-zone-inner {  
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 4px;
    background: $color-bg-lighter;
    background-image: url('../../static/images/img.jpg');
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-drop-zone-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $color-bg-overlay;
    z-index: 0;
    // transition: all 0.1s ease-in-out;
  }
}


// Inputs - Buttons
// ----------------------------------------------------------
#input-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  // padding: 20px;
  // border-radius: 4px;
  // border: 1px dashed color.adjust($color-border, $lightness: -25%);
}

.input.button {
  // flex: 1 1 0;
  margin-bottom: 0;
  position: relative;
  // flex: 45%;
  // width: 40%;
  flex: 1 0 34%;

  &.button-small {
    input {
      height: 45px;
      font-size: 16px;

      &:disabled {
        // display: none; 
        opacity: 0.5;
        cursor: default;

        &:hover,
        &:focus,
        &:active {
          background: $color-bg;
        }
      }
    }
  }

  .export-button-container {
    display: flex;
    flex-direction: row;
    position: relative;
  
    &.config-open {
      #export-config {
        background: $color-bg-lighter;
      }
    }
  }

  input {
    height: 65px;
    width: 100%;
    // font-size: 20px;
    font-size: 18px;
    // text-transform: uppercase;
    border: 1px solid $color-border;
    border-radius: 4px;
    background: $color-bg;
    color: $color-text-light;
    font-family: RobotoMono, monospace;
    cursor: pointer;
    text-align: center;

    &#export {
      // flex: 1 1 0;
      // border-radius: 4px 0 0 4px;
      // border-right-style: dashed;
      // text-indent: 60px;
    }

    &#export-config {
      width: auto;
      padding: 0 20px;
      // width: 65px;
      font-size: 16px;
      text-transform: none;
      border-radius: 0 4px 4px 0;
      border-left: 0;
    }

    &:focus,
    &:active {
      z-index: 1;
    }
  

    &:hover,
    &:focus {
      background: $color-bg-lighter;
    }

    &:active {
      background: color.adjust($color-bg-lighter, $lightness: 2%);
    }
  }
}



// #export-overlay {
  // position: absolute;
  // left: 0;
  // top: 0;
  // width: 100%;
  // height: 100%;
  // background: color.adjust($color-bg, $alpha: -0.75);

  // .export-options-container {
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);
  //   padding: 25px 30px 30px;
  //   background: $color-bg;
  //   border: 1px solid $color-border;
  //   // width: 100px;
  //   // height: 100px;
  //   width: fit-content;
  //   border-radius: 4px;
  //   // gap: 5px 0;
  // }

  .export-options {
    display: flex;
    flex-direction: column;
    position: absolute;
    // border: 1px solid color.adjust($color-border, $lightness: -40%);
    border-radius: 4px;
    width: fit-content;
    width: 50%;
    background: $color-bg;
    border: 1px solid $color-border;
    box-shadow: 0 0 20px $color-bg;
    z-index: 999;
    right: 0;
    // display: none;
  }

  .export-title {
    margin: 0 0 25px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .export-option {
    display: flex;
    // flex: 1 1 0;
    // min-width: 250px;
    background: $color-bg;
    // padding-right: 20px;
    border-top: 1px solid color.adjust($color-border, $lightness: -40%);
    border-radius: 0;
    align-items: center;
    cursor: pointer;
    // margin-bottom: -1px;
      height: 60px;
      padding: 0 20px;

    &.selected {
      z-index: 1;
      background: color.adjust($color-bg, $lightness: 2%);
      background: $color-bg-lighter;
      // outline: 1px solid $color-border;
      // outline-offset: 2px;

      &:hover,
      &:active,
      &:focus {
        background: $color-bg-lighter;
      }

      label {
        // border: 1px solid color.adjust($color-border, $lightness: -10%);
      }
    }

    &:hover,
    &:active {
      background: color.adjust($color-bg, $lightness: 2%);
    }

    &:focus {
      z-index: 2;
      outline-color: $color-outline;
      outline-width: 2px;
      outline-offset: 0px;
      background: color.adjust($color-bg, $lightness: 2%);
    }

    &:first-of-type {
      // label {
        border-radius: 4px 4px 0 0;
      // }
    }
    &:last-of-type {
      // label {
        border-radius: 0 0 4px 4px;
      // }
    }

    &:focus {
      z-index: 99;
    }

    label {
      display: flex;
      width: 100%;
      justify-content: space-between;
      // cursor: pointer;
      pointer-events: none;
      // border: 1px solid color.adjust($color-border, $lightness: -40%);
      // padding: 0 20px;
      // // height: 60px;
      color: $color-text-light;
      margin: 0;
      align-items: center;

      span {
        color: $color-text-medium;
        font-size: 14px;
        pointer-events: none;
      }
    }
  }
// }


// Inputs - Sliders
// ----------------------------------------------------------
.input-slider-frequency-group {
  display: flex;
  gap: 0 20px;

  .input {
    flex-grow: 1;
  }
}

.sliders {
  padding-top: 10px;
  // margin-bottom: 0;
  // padding: 30px 0;
  // padding: 0 10px;
  // margin-bottom: -30px;
  // margin: 0 0 -30px;
  // padding: 0 20px 20px;
  // border: 1px dashed color.adjust($color-border, $lightness: -25%);
  // border-top: none;

  #input-scene & {
    margin-bottom: 0;

    .input:last-of-type {
      margin-bottom: 0;
    }
  }

  .input {
    flex-direction: column;
    margin-bottom: 40px; // 50px

    &:last-of-type {
      // margin-bottom: 0;
    }

    label {
      margin-top: 5px;
    }
  }

  .input-slider {
    position: relative;
    height: 20px;
    width: 100%;

    .input-slider-bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translate(0, -1px);
      width: 100%;
      height: 2px;
      background: $color-text-light;
      pointer-events: none;
    }

    .input-slider-value {
      // display: none;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
      position: absolute;
      font-size: 14px;
      top: -24px;
      text-align: center;
      left: 0;
      color: $color-text-medium;
      // visibility: hidden;
    }
  }

  .slider {
    appearance: none;
    width: 100%;
    height: 20px;
    background: none;
    position: relative;
    border-radius: 2px;
    // cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      background: $color-bg;
      cursor: pointer;
      border: 2px solid $color-text-light;
      border-radius: 50%;
      transition: all 0.1s ease-in-out;

      &:hover {
        background: $color-text-light;
      }
    }
    
    &::-moz-range-thumb {
      width: 16px;
      height: 16px;
      background: $color-bg;
      cursor: pointer;
      border: 2px solid $color-text-light;
      border-radius: 50%;
      // transition: all 0.1s ease-in-out;
    }
    
    &:focus,
    &:active {
      &::-webkit-slider-thumb {
        background: $color-text-light;
      }

      &::-moz-range-thumb {
        background: $color-text-light;
      }
      // outline-offset: 4px;
      // background: $color-bg-lighter;
    }

    &:focus,
    &:active,
    &:hover {
      & + .input-slider-value {
        opacity: 1;
        // visibility: visible;
      }
    }
  }

  .range {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 10px 0 0;

    div {
      width: 33.333%;

      &.max {
        text-align: right;
      }
    }

    label {
      text-align: center;
      margin-top: 0;
      width: 33.333%;
    }
  }
}

// No WebGL
// ----------------------------------------------------------
.nowebgl-container {
  background: $color-bg;
  color: $color-text-light;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 320px;
  height: 100%;
}

.nowebglmsg {
  font-family: monospace;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 320px;
  padding: 0 40px;
  width: 100%;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .msg {
    flex: 1 1 0;

    a {
      color: $color-text-light!important;
    }

    .info {
      font-size: 16px;
      color: $color-text-medium;
      padding: 20px 0;
    }
  }

  .image {
    margin: 30px 0;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: $color-bg-lighter;
  }
}


// Media Queries
// ----------------------------------------------------------
@media (min-height: 1440px) {
  body {
    align-items: center;
  }

  #generator {
    // height: auto;
  }
}

@media (min-width: 2560px) {
  body {
    justify-content: center;
  }
}

@media screen and (min-width: 450px) {
  .controls {
    .controls-header {
      #controls-toggle {
        right: 30px;
        padding-right: 10px;

        label {
          display: block;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .controls {
    .controls-inner {
      max-width: 600px;
      min-width: 600px;
      align-self: flex-end;
    }

    .controls-header {
      .controls-header-inner {
        padding: 0 30px;
      }

      // #controls-toggle {
      //   right: 30px;
      //   padding-right: 10px;

      //   label {
      //     display: block;
      //   }
      // }
    }
  }
}

@media screen and (max-width: 599px) {
  .button-colors {
    .button-color {
      max-width: 50%;
    }
  }

  #input-buttons-controls,
  #input-buttons-export {
    gap: 10px 20px;
    flex-direction: column;
  }


  .input-multi-group-inner {

    .input-multi-group-container & {
      border-radius: 4px;
      // padding: 15px;
    }

    .button-options {
      flex-direction: column;
      gap: 5px 20px;

      .button-option {
        flex: auto;
        width: 100%;
      }
    }
  }
  

  .input-multi-tab {
    .input-multi-group-container & {
      margin-bottom: 20px;

      label {
        display: block;
      }
    }

    .button-options {
      flex-direction: column;
      // margin-bottom: 20px;
      gap: 5px 20px;
  
      .button-option {
        // padding-left: 15px;
        // padding-right: 15px;
        // overflow: hidden;
        flex: auto;
        width: 100%;
        border-radius: 4px;
        border: 1px dashed color.adjust($color-border, $lightness: -25%);
  
        &.selected,
        &.selected:hover,
        &.selected:focus {
          border: 1px solid $color-border;
        }
    
        &:hover,
        &:focus {
          border: 1px solid color.adjust($color-bg-lighter, $lightness: 15%);
        }
  
        .option-img { 
          // width: 40px;
          // height: 40px;
          // background-size: 300%;
          // display: none;
        }
      }
    }
  }

  #input-export-scale > label {
    flex-direction: column;
    align-items: flex-start;

    span {
      margin-top: 5px;
    }
  }

  .size-option {
    padding-right: 15px;

    label {
      display: flex;
      align-items: center;
      width: 100%;

      span {
        width:100%;
        text-align: right;
      }

      br {
        display: none;
      }
    }
  }

  .sliders .range {
    label {
      width: 50%; 
    }

    div {
      width: 25%;
    }
  }

  #inputs {
    padding: 0 20px;
  }

  .button-options {
  
    .button-option {
      gap: 0;
    }

    .button-option.size-option {
      .button-option-radio {
        width: 15px;
        height: 15px;
        margin: 0 15px 0 15px;
      }
    }
  }
  
  // #generator {
  //   display: flex;
  // }
}


@media screen and (max-width: 1199px) {
  .controls {
    // display: none;
    // display: none;
    position: absolute;
    right: 0;
    

    .logo {
      padding: 0 0 15px;
    }

    .controls-header {
      // padding: 0 15px;
      margin: 0;
      // padding: 30px 20px 25px;
      padding: 30px 0 0;

      // .controls-header-inner {
      //   padding: 0 20px;

      //   #controls-toggle {
      //     right: 20px;
      //   }
      // }
    }
  }

  .canvas {
    padding: 0px;
    min-width: auto;
    width: 100%;
  }

  // #generator {
  //   display: flex;
  // }
}


@media screen and (min-width: 1200px) {
  .controls {
    display: flex;
    width: 50%;
    max-width: 600px;
    background: $color-bg;

    .controls-inner,
    .controls-inner.hidden {
      display: flex;
    }


    .controls-header {
      .controls-header-inner {
        padding: 0 10px;
      }

      #controls-toggle {
        display: none;
        right: 10px;
      }
    }
  }

  #inputs {
    // padding: 0px 30px 25px;
  }

  .canvas {
    width: 50%;
  }
}

// 576px for portrait phones
// 768px for tablets
// 992px for laptops
// 1200px for large devices


